        body {
            font-family: 'Noto Sans TC', sans-serif;
        }

        .container {
            max-width: 800px;
            height: auto;
            margin: 0 auto;
        }

        .info {
            margin: 50px 0 50px 0;
            font-size: 18px;
            border: 1px solid #000;
        }

        .info span {
            color: red;
        }

        #ETHPV {
            font-weight: bold;
            color: red;
        }