.container {
    height: auto;
    margin: 0 auto;
}

.title{
    margin: 50px 0 40px 0;
    text-align: center;
}

.info {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 30px 0 10px 0;
    border: 1px solid #000;
}

.info span{
    text-align: center;
    display: block;
    color: white;
    background-color: black;
}

.info ol{
    margin: 0;
    padding: 16px 0 0 30px;
}

#ETHPV {
    font-weight: bold;
    color: red;
}

.btnArea{
    margin: 0 auto;
    width: 140px;
}

@media screen and (max-width: 770px)  {
  #Gwei,#Fee,.ETH,.Fee{
      display: none;
    }
}